<div class="members-section">
    <h3 class="title-header">Group Members</h3>

    <h5 class="admin-header">Admins</h5>
    <ul class="list-group" id="adminList"></ul>

    <h5 class="member-header">Members</h5>
    <ul class="list-group" id="memberList"></ul>

    <h5 class="viewer-header">Viewers</h5>
    <ul class="list-group" id="viewerList"></ul>
</div>
