<body>    
    <div class="modal fade" id="pollModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Poll Overview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div id="pollDetails" class="list-group mt-2">
                        <!-- dynamic js fill -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <main class="container py-5">

        <div class="row align-items-center mb-3">
            <div class="col">
                <h2 class="fw-semibold m-0">Group Polls</h2>
            </div>

            <div class="col-auto">
                <button
                    id="createPollButton"
                    type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#createPollModal"
                >
                    Create Poll
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="pollList" class="list-group">
                    <!-- JS dynamically inserts polls -->
                </div>
            </div>
        </div>

        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/js/group-partials/polls.js"></script>
        
    </main>
</body>
