<!--group-map.ejs-->
<head>
    <link rel="stylesheet" href="/css/group-map.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <input
    id="pac-input"
    class="controls"
    type="text"
    placeholder="Search Box"
    width="150px"
  />
  <gmp-map center="50,5" zoom="14" map-id="DEMO_MAP_ID">
    <!--<div id="controls" slot="control-inline-start-block-start">
      can add stuff here?
    </div>-->
  </gmp-map>
</body>