<h3>Group Members</h3>

<h5>Admins</h5>
<ul class="list-group mb-3" id="adminList"></ul>

<h5>Members</h5>
<ul class="list-group mb-3" id="memberList"></ul>

<h5>Viewers</h5>
<ul class="list-group" id="viewerList"></ul>
