<div class="settings-section">
    <h3 class="title-header">Settings</h3>

    <div class="admin-settings" data-required-role="admin">
        <h2 class="title-header">Admin</h2>
    </div>

    <div class="member-settings" data-required-role="member">
        <h2 class="title-header">Member</h2>
    </div>

    <div class="settings-section" data-required-role="viewer">
        <h2 class="title-header">You can't acces this!</h2>
        <p class="text-muted">Ask the admin to invite you.</p>
    </div>

</div>