/*---------base settings---------*/
header{
  background-color: #FCB6F7;
  border-bottom: 10px solid black;  /*solid moet voor stijl, border-bottom = 3!*/
  padding: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.about h1{
    color: white;
    font-style: bold;
}
.about p{
    color: white;
    font-size: 20px;
    font-style: italic;
    margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: solid white;
  margin: 0; /*beide op 0 zodat de header heel de breedte van uw scherm inneemt*/
  padding: 0;
}


/*-----------Your Groups-----------*/
.container.py-5 {
    margin-left: 20%;
}
.d-flex.justify-content-between.align-items-center.mb-4 {
    border-bottom: 2px solid #ccc;;
    width: fit-content; /*maakt het zodat de border enkel rond contentt is en niet rest vd breedte van pagina*/
    padding-bottom: 10px; /*breathing room tussen knoppen en scheidingslijn*/
}
.fw-semibold {
    font-size: 25px;
    margin-bottom: 4px;
}


/*-----------Groepen-----------*/ 
#groupList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*aantal kolommen lataen we herhalend auto-gevuld worden waarbij grootte voor iedere kolom minimum 300px is of 1 fraction (25% v available space)*/
    max-width: 75%;
    gap: 15px; /*gap tussen de groepen*/
}
#groupList > div {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
#groupList .card-body {
    padding: 10px;
}
#groupList .card-title {
    font-size: 17px;
    margin-bottom: -5px;
}
#groupList .text-muted {
    font-size: 12px;
}

/*-----------Buttons-----------*/
/*MEDIA FOR BUTTONS AND YOUR GROUPS*/
.btn.btn-success,
.btn.btn-outline-primary {
    background-color: rgba(209, 160, 87, 0.664);
    color: rgb(56, 56, 56);
    font-size: 15px;
    font-weight: 600;

    padding: 12px;
    border-radius: 5px;
    border: none;
    line-height: 100%;

    margin-top: 2px;
    text-align: center;

    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.btn.btn-success:hover,
.btn.btn-outline-primary:hover {
  background-color: rgba(173, 132, 70, 0.664);
}

@media (max-width: 500px) {
    header {
        margin-bottom: 0px;
    }

    /*-----------Your Groups-----------*/
    .d-flex.justify-content-between.align-items-center.mb-4 {
        margin-left: -25px; /*verplaatsen naar links zodat hett lijkt alsof het in midden staat*/
        flex-direction: column;
    }
    .fw-semibold {
        font-size: 40px;
        margin-bottom: 4px;
    }

    /*-----------Groepen-----------*/
    #groupList {
        margin-left: -50px;
    }
    #groupList .card-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    #groupList .text-muted {
        font-size: 15px;
    }

    /*-----------Buttons-----------*/
    .btn.btn-success,
    .btn.btn-outline-primary {
        background-color: rgba(209, 160, 87, 0.664);
        color: rgb(56, 56, 56);
        font-size: 15px;
        font-weight: 600;

        padding: 12px;
        border-radius: 5px !important; /*moet !important anders gaat bootstrap settings de helft van de border-radius overwriten lol*/
        border: none;
        line-height: 100%;

        margin-top: 2px;
        text-align: center;
    }

    .btn-group {
        gap: 10px;
    }
}