/*---------base settings---------*/
header{
  background-color: #E6BB58;
  border-bottom: 10px solid #875D0E ;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.about h1{
    color: white;
    font-style: bold;
}
.about p{
    color: white;
    font-size: 20px;
    font-style: italic;
    margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: solid white;
  margin: 0; /*beide op 0 zodat de header heel de breedte van uw scherm inneemt*/
  padding: 0;
}

/*-----------Your Groups-----------*/
.container.py-5 {
    margin-left: 20%;
}
.d-flex.justify-content-between.align-items-center.mb-4 {
    border-bottom: 2px solid #ccc;;
    flex-direction: column;
    width: 80%; /*maakt het zodat de border enkel 80% van scherm iinneemt rond de content*/
    padding-bottom: 10px; /*breathing room tussen knoppen en scheidingslijn*/
}
.fw-semibold {
    font-size: 25px;
    margin-bottom: 4px;
}

/*-----------Groepen-----------*/ 
#groupList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*aantal kolommen lataen we herhalend auto-gevuld worden waarbij grootte voor iedere kolom minimum 300px is of 1 fraction (25% v available space)*/
    max-width: 80%; /*enkel 80% van scherm lateeen gebruikeen omdat we het al forceed naar rechtt hebben beewogen, 20% van scherm is daarmee verloren*/
    margin-left: 0px;
    gap: 10px; /*gap tussen de groepen*/
}
#groupList > div {
    margin-top: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 15px;
}
#groupList .card-body {
    padding: 10px;
}
#groupList .card-title {
    font-size: 25px;
    margin-bottom: 5px;
}
#groupList .text-muted {
    font-size: 15px;
}

/*-----------Buttons-----------*/
.btn.btn-success,
.btn.btn-outline-primary {
    background-color: rgba(209, 160, 87, 0.664);
    color: rgb(56, 56, 56);
    font-size: 15px;
    font-weight: 600;

    padding: 12px;
    border-radius: 5px;
    border: none;
    line-height: 100%;

    margin-top: 2px;
    text-align: center;

    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.btn.btn-success:hover,
.btn.btn-outline-primary:hover {
  background-color: rgba(173, 132, 70, 0.664);
}


/*---------PHONE CHANGES---------*/
@media (max-width: 500px) {
    /*---------base settings---------*/
    header{
        background-color: #E6BB58;
        border: none;
        margin-bottom: -15px;
        padding: 20px;
        text-align: center;
    }
    .about p{
        display: none;
    }

    /*-----------Your Groups-----------*/
    .d-flex.justify-content-between.align-items-center.mb-4 {
        margin-left: -25px; /*verplaatsen naar links zodat hett lijkt alsof het in midden staat*/
        width: fit-content;
        flex-direction: column;
    }
    .fw-semibold {
        font-size: 40px;
        margin-bottom: 4px;
    }

    /*-----------Groepen-----------*/
    #groupList {
        margin-left: -50px;
    }
    #groupList .card-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    #groupList .text-muted {
        font-size: 15px;
    }

    /*-----------Buttons-----------*/
    .btn.btn-success,
    .btn.btn-outline-primary {
        font-size: 15px;
        border-radius: 5px !important; /*moet !important anders gaat bootstrap settings de helft van de border-radius overwriten lol*/
    }
    .btn-group {
        gap: 10px;
    }
}