/*----------- Header -----------*/
  header{
      background-color: #E6BB58;
      text-align: center;
      padding: 5px;
      margin-bottom: 10px;
  }
  #back {
    color: #86888d;
  }
  #back:hover {
    color: #535353;
  }
  #back:active  {
    color: black;
  }

/*----------- Sidebar -----------*/
  .sidebar {
    width: 280px;
    display: flex;
    flex-direction: column; /*zet iteems onder elkaar*/
    gap: 10px;
  }
  .sidebar > div {
    padding: 10px;
  }
  #sidebarBtn {
    margin: 15px;
    width: 150px;
    height: min-content;

    font-weight: 600;
    color: rgb(56, 56, 56);
    background-color: white;
    border: 2px solid #c79521 !important;

    transition: 0.15s ease-in-out;
  }
  #sidebarBtn:hover {
    border-color: #875D0E !important;
  }


/*----------- Content: members -----------*/
  .members-section {
    width: 80%;
  }
  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 15px;
    border-bottom: 2px solid #9aa1a7;
  }
  .title-header {
    margin-bottom: 10px;
  }
  .admin-header,
  .member-header,
  .viewer-header {
    font-weight: 530;
    color: rgb(56, 56, 56);
  }
  .list-group {
    flex-wrap: wrap;  /*als geen plaats, jump naar volgende lijn*/
    /*display: fleex niett nodig want list-grorup heefttt da al (zie  bootstrap)*/

    border: 2px solid #cdd0d4;
    margin-bottom: 2%;
  }
  .list-group-item {
    border: none !important;
    font-weight: 450;
  }
    /*----------- CHANGE & MANAGE BTNS -----------*/
      #manageRoles,
      #manageMembers {
        margin-bottom: 10px;
        width: 200px;

        border: none;
        font-size: 15px;
        font-weight: 600;
        transition: 0.15s ease-in-out;
      }
      #manageRoles:hover {
        background-color: #69833b;
      }
      #manageRoles:active {
        background-color: #4a5f26;
      }
      #manageMembers {
        background-color: #62929e;
      }
      #manageMembers:hover {
        background-color: #577d86;
      }
      #manageMembers:active {
        background-color: #436871;
      }

      /*----------- CANCEL BTN -----------*/
      #cancelMember, #removeMember {
        font-size: 15px;
        font-weight: 600;
        border: none;
        width: 150px;
      }

      
/*----------- Content: settings -----------*/
  .settings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /*aantal kolommen lataen we herhalend auto-gevuld worden waarbij grootte voor iedere kolom minimum 350px is of 1 fraction (25% v available space)*/
    align-items: center;

    border: 1px solid #cdd0d4;
    border-radius: 8px;

    width: 70%; /*if full-screen, dan is de kader niet al te groot en de helft leeg (omdat 100% veel ruimte innneeemt*/
  }
  #settingsExpl {
    font-size: 20px;
  }
  #formGroup > input {
    margin-left: 10px;
  }
  #checkboxGroup > div {
    margin-bottom: 10px;
  }
    /*----------- FORMS -----------*/
      .form-control {
        margin: 5px;
        margin-left: -10px;
        width: 80%;
      }
      .form-control:focus {
        border-color: #875D0E;
        box-shadow: 0  0 0 0.15rem rgb(231, 206, 148);
      }

    /*----------- CHECKBOXES -----------*/
      .form-check  {
        margin-left: 10%;
      }
      .form-check-input {
        border-color: rgb(194, 189, 189);
        margin-top: 5px; /*positie beetje naar  onder  (heel  weinig)*/

        transition: 0.15s ease-in-out;
        cursor: pointer;
      }
      .form-check-input:hover {
        color: #E6BB58;
        border-color: #E6BB58;
      }
      .form-check-input:checked {
        background-color: #E6BB58;
        border-color: #E6BB58
      }
      .form-check-input:focus {
        border-color: #E6BB58;
        box-shadow: none;
      }

    /*----------- SAVE & CANCEL -----------*/
      #saveSettings, 
      #cancelSettings {
        margin: 10px;
        width: 80%;
        
        color: rgb(56, 56, 56);
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        transition: 0.15s ease-in-out;
      }
      #cancelSettings, #deleteStopBtn, #removeMember {
        border: none;
        background-color: #d46c4f;
      }
      #cancelSettings:hover, #deleteStopBtn:hover, #removeMember:hover {
        background-color: #ad5b44;
      }
      #cancelSettings:active, #deleteStopBtn:active, #removeMember:active {
        color: white;
        background-color: #882d3b;
      }

/*----------- Content: Chat -----------*/
  .message-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #sendChatBtn {
    border-radius: 5px;
    margin-top: 5px;
    height: fit-content;

    border: none;
    background-color: #cc994a;
    transition: 0.15s ease-in-out;
  }
  #sendChatBtn:hover {
    background-color: #bb8b42;
  }
  #sendChatBtn:active {
    background-color: #8f6a32;
  }

/*----------- Content: Map Overview -----------*/
  #test {
    height: 50vh;
  }
  .map-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  #stopsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 400px)); 
      max-width: 80%; 
      margin-left: 0px;
      gap: 10px;
  }
  #stopsContainer > div {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      border: 2px solid #ccc;
      border-radius: 15px;
  }

  /*----------- MAP BUTTONS -----------*/
      #addStopBtn, #generateRouteBtn {
        width: 150px;
        font-size: 15px;
        font-weight: 600;
        border: none;
        transition: 0.15s ease-in-out;
      }
      #saveStop {
        font-size: 15px;
        font-weight: 600;
        border: none;
        transition: 0.15s ease-in-out;

        width: 100%;
        margin-top: 10px;
      }

      #generateRouteBtn {
        color: rgb(56, 56, 56);
        background-color: rgba(209, 160, 87, 0.664);
      }
      #generateRouteBtn:hover {
        background-color: rgba(173, 132, 70, 0.664);
      }
      #generateRouteBtn:active {
        color: white;
        background-color: #875D0E;
      }

      .editBtns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      }
      #saveEditStopBtn, #deleteStopBtn {
        color: rgb(56, 56, 56);
        width: 50%;
        font-size: 15px;
        font-weight: 600;
        border: none;
        transition: 0.15s ease-in-out;
      }

      .btn.btn-sm.btn-secondary, .btn.btn-secondary {
        font-size: 15px;
        font-weight: 600;
        width: 100px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .btn.btn-secondary {
        width: 150px;
      }



/*----------- Content: Polls -----------*/
  .polls-page > div{
    padding: 10px;
  }
  .polls-header {
    flex-direction: column;
  }
  #popup-label {
    font-size: 20px;
    font-weight: 600;
  }
  #pollTitleInput {
    height: fit-content;
    align-items: start;
  }

  /*----------- POLLS BUTTONS -----------*/
      #addPollOptionBtn  {
        text-align: center !important;
        margin-top: 10px;
        margin-bottom: 5px !important;
        padding: 10px;
        width: 100%;
      }

      .btn.btn-success {
        font-size: 15px;
        font-weight: 600;
        border: none;
        width: 150px;

        background-color: #4a5f26;
        transition: 0.15s ease-in-out;
      }
      .btn.btn-success:hover {
        background-color: #6a863a;
      }
      .btn.btn-success:active {
        background-color: #93af63;
      }


/*----------- Buttons -----------*/
  .btn.btn-outline-primary {
      background-color: rgba(209, 160, 87, 0.664);
      color: rgb(56, 56, 56);
      font-size: 15px;
      font-weight: 600;

      width: 80%;
      padding: 12px;
      border-radius: 5px;
      border: none;
      line-height: 100%;
      text-align: start;

      transition: 0.15s ease-in-out;
  }
  .btn.btn-outline-primary:hover {
    background-color: rgba(173, 132, 70, 0.664);
    color: rgb(56, 56, 56);
  }
  .btn.btn-outline-primary:active {
    color: white;
    background-color: #875D0E;
  }

  .btn.btn-outline-cancel {
    color: white;
    background-color: #97535d;
  }
  .btn.btn-outline-cancel:hover {
    background-color: #85444e;
  }
  .btn.btn-outline-cancel:active {
    color: white;
    background-color: #5d3037;
  }

  #addStopBtn, #saveStop, #saveSettings, #saveEditStopBtn,#manageRoles { /*knoppen van andere contents ook hier omdatt ik de dezelfde kleuern wil pakken zonder het duplicate code*/
    color: white;
    background-color: #79944a;
  }
  #addStopBtn:hover, #saveStop:hover, #saveSettings:hover, #saveEditStopBtn:hover, #manageRoles:hover {
    background-color: #61802c;
  }
  #addStopBtn:active, #saveStop:active, #saveSettings:active, #saveEditStopBtn:active, #manageRoles:active {
    background-color: #4a5f26;
  }

/*---------PHONE CHANGES---------*/
@media (max-width: 500px) { 

  /*----------- Content: members -----------*/
    .members-section {
      margin-left: 40px;
    }
    #manageRoles,
    #manageMembers { 
      width: 100px;
    }


  /*----------- Content: settings -----------*/
    .setting-item {
      margin-top: 10px;
    }
    #checkboxGroup > div {
      margin-left: 10px;
    }


    /*----------- Content: Map Overview -----------*/
    #stopsContainer > div {
      margin-bottom: 5px;
    }
}