.container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 280px 1fr;
}
.container div {
  padding: 10px;
}

.content {
  grid-area: content;
}

/*----------- Sidebar -----------*/
/*https://www.youtube.com/watch%3Fv%3DLjs9cktoubc&ved=2ahUKEwiHvq_p3fuQAxVMU6QEHWezDFYQwqsBegQIGRAB&usg=AOvVaw3PBNLwXLLxPxd4YPb9y3PP*/
.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column; /*zet iteems onder elkaar*/
  gap: 10px;

  grid-area: sidebar;
}

/*----------- Content: members -----------*/
.title-header {
  font-weight: 600;
  margin-bottom: 20px;
}
.admin-header,
.member-header,
.viewer-header {
  font-weight: 530;
  color: rgb(56, 56, 56);
}
.list-group {
  flex-wrap: wrap;  /*als geen plaats, jump naar volgende lijn*/
  /*display: fleex niett nodig want list-grorup heefttt da al (zie  bootstrap)*/

  border: 2px solid #cdd0d4;
  width: 80%;
  margin-bottom: 2%;
}
.list-group-item {
  border: none !important;
  font-weight: 450;
}

/*----------- Content: settings -----------*/
.settings-section {
  display: grid;
}
.admin-settings, .member-settings, .viewer-settings {
  width: 60%;
  margin: 10px;

  border: 1px solid #cdd0d4;
  border-radius: 8px;
}
#AS-header, #MS-header, #VS-header {
  text-align: center;
  margin-bottom: -5px; /*wat dichter bij de iteems zetten!*/
}

  /*----------- Admin-settings -----------*/
    .container-fluid { /*contaainer maakt hier 100% gebruikt van de 60% breeedte in admin-settings!*/
      display: flex;
      align-items: center;
    }
    .form-check  {
      margin-left: 10%;
    }
    .form-check-input {
      border-color: rgb(194, 189, 189);
      margin-top: 5px; /*positie beetje naar  onder  (heel  weinig)*/

      transition: 0.15s ease-in-out !important; /*bootstrap :DDDDDD*/
      cursor: pointer;
    }
    .form-check-input:hover {
      color: #E6BB58;
      border-color: #E6BB58;
    }
    .form-check-input:checked {
      background-color: #E6BB58;
      border-color: #E6BB58
    }
    .form-check-input:focus {
      border-color: #E6BB58;
      box-shadow: none;
    }

        /*----------- popup styling -----------*/
        

    /*----------- Member-settings -----------*/

#inv-btn {
  width: 40% !important; /*knop moet kleiner zijn dan de 80% die bij de rest gebruikt wordt*/
}

/*----------- Buttons -----------*/
.btn.btn-outline-primary {
    background-color: rgba(209, 160, 87, 0.664);
    color: rgb(56, 56, 56);
    font-size: 15px;
    font-weight: 600;

    width: 80% !important; /*kut bootstrap maakt da automatisch fit-content, wij willen dat noppen evengroot is dus !important voor de width*/
    padding: 12px;
    border-radius: 5px;
    border: none;
    line-height: 100%;
    text-align: center;

    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.btn.btn-outline-primary:hover {
  background-color: rgba(173, 132, 70, 0.664);
  color: rgb(56, 56, 56);
}
.btn.btn-outline-primary:active {
  color: white;
  background-color: #875D0E;
}