<!DOCTYPE html>
<html>
    <head>
        <title>Login-page for template</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <div class="container-fluid">
                <div class="about">
                    <h1>TEMPLATENAME FOR WEBSITE</h1>
                    <p>The newest and cutest travelling blogsite!</p>
                </div>
            </div>
        </header>

        <main class="beginpage">

            <!--this will be the leftside of the page that contains login-->
            <div class="login">
                <h1>Log in:</h1>

                <form id="login_form">
                    <div class="inputbox" id="login_name">
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </div>

                    <div class="inputbox" id="login_pass">
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" checked="checked" name="remember">
                        <label>Remember me</label>
                    </div>

                    <button type="submit" id="login_button">Login</button>
                        
                </form>
            </div>

            <!--this will be the rightside of the page that contains registration-->
            <div class="registration">
                <h1>Register:</h1>

                <p>Don’t have an account?<br> Join your friends today and become part of our community!</p>
                <button type="button" id="registration_button" onclick="window.location.href='/register'">
                    Register new account!
                </button>

            </div>

        </main>

    </body>
    <script src="/js/login.js"></script>
</html>