<!DOCTYPE html>
<html>
    <head>
        <title>Login-page for template</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="about">
                    <h1>TEMPLATENAME FOR WEBSITE</h1>
                    <p>The newest and cutest travelling blogsite!</p>
                </div>
            </div>
        </header>
        <h1>Login:</h1>
        <div class="input box">
            <input type="text" placeholder="Username" required>
        </div>
        <div class="input box">
            <input type="text" placeholder="Password" required>
        </div>
    </body>
</html>