<!DOCTYPE html>
<html>
    <head>
        <title>Login-page for template</title>
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <div class="wrapper">
                <div class="about">
                    <h1>TEMPLATENAME FOR WEBSITE</h1>
                    <p>The newest and cutest travelling blogsite!</p>
                </div>
            </div>
        </header>
        <h1>Register:</h1>

        <form id="registerForm">

            <div class="input box">

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

            </div>

            <div class="input box">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

            </div>

            <div class="input box">

                <label for="cpsw"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" name="cpsw" required>

            </div>

            <div class="container">
                
                <button type="submit">Register & Login</button>
                
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                
            </div>

        </form>
        
        <script src="/js/register.js"></script>

    </body>

</html>