<!DOCTYPE html>
<html>
    <head>
        <title>FYP</title>
        <link rel="stylesheet" href="/css/fyp.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <div class="wrapper">
                <div class="about">
                    <h1>TEMPLATENAME FOR WEBSITE</h1>
                    <p>The newest and cutest travelling blogsite!</p>
                </div>
            </div>
        </header>

    </body>

</html>