<!DOCTYPE html>
<html>
    <head>
        <title>FYP</title>
        <link rel="stylesheet" href="/css/fyp.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <div class="wrapper">
                <div class="about">
                    <h1>TEMPLATENAME FOR WEBSITE</h1>
                    <p>The newest and cutest travelling blogsite!</p>
                </div>
            </div>
        </header>

        <form id="FypForm">

            <div class="container">
                
                <h2>SOCIAL</h2>
                <button type="button">Friends List</button>
                <button type="button">Add Friend</button>
                <button type="button" data-redirect="/chats">Open DMs</button>

                <h2>GROUPS</h2>
                <button type="button">Browse Groups</button>
                <button type="button">Create Group</button>
                <button type="button">Join Group</button>
                
            </div>

        </form>

        <script src="/js/fyp.js"></script>

    </body>

</html>