<!DOCTYPE html>
<html>
  <head>
    <title>Group Overview</title>
    <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>

  <body class="p-4">
    <a href="/fyp" class="btn btn-link mb-3">&larr; Back to groups</a>

    <h1 id="groupName" class="fw-semibold"></h1>
    <p id="groupDescription" class="text-muted"></p>
    <p id="startEnd" class="text-muted"></p>

    <hr>

    <div class="container" id="groupContent">
      <div class="menu">
        
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="members">Members</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="settings">Settings</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="chat">Chat</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="map">Map Overview</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="polls">Polls</button>
        </div>
      
      </div>
      <div class="content" id="dynamicContent"></div> <!-- content here :D -->
    </div>

    <script>
      window.groupId = "<%= groupId %>";
    </script>
    <script src="/js/group.js"></script>
  </body>
</html>