<!DOCTYPE html>
<html>
  <head>
    <title>Group Overview</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/group.css">
  </head>

  <body class="p-4">
    <a href="/fyp" class="btn btn-link mb-3">&larr; Back to groups</a>

    <h1 id="groupName" class="fw-semibold"></h1>
    <p id="groupDescription" class="text-muted"></p>
    <p id="startEnd" class="text-muted"></p>

    <div class="container" id="groupContent">

      <div class="sidebar">  
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="members">Members</button>
        </div>
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="settings">Settings</button>
        </div>
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="chat">Chat</button>
        </div>
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="map">Map Overview</button>
        </div>
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="polls">Polls</button>
        </div>
      </div>

      <div class="content" id="dynamicContent"></div> <!-- content here :D -->

      <!-- profile Page Modal -->
      <div class="modal fade" id="profilePageModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">

                  <!-- Banner -->
                  <div id="profileBanner" class="position-relative" style="height: 180px; background: #cccccc;">
                      <img id="profilePicture"
                          src="/uploads/default.png"
                          class="rounded-circle position-absolute"
                          style="width: 120px; height: 120px; object-fit: cover; bottom: -60px; left: 20px; border: 4px solid white;">
                  </div>

                  <div class="modal-body mt-5">

                      <!-- VIEW MODE -->
                      <div id="profileViewMode">
                          <h3 id="displayName" class="fw-bold">Display Name</h3>
                          <p id="username" class="text-muted">@username</p>
                          <p id="bio">This is the user bio.</p>

                          <div id="profileActionContainer"></div>

                          <div id="friendActionContainer" class="mt-2"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <script>
      window.groupId = "<%= groupId %>";
    </script>
    <script src="/js/bootstrap.bundle.js"></script> <!-- KEEP THIS HERE FOR PARTIALS WITH POPUPS -->
    <script src="/js/group.js"></script>
    <script src="/socket.io/socket.io.js"></script> <!-- here for chat -->
  </body>
</html>