<!--group.ejs-->

<!DOCTYPE html>
<html>
  <head>
    <title>Group Overview</title>
    <link rel="stylesheet" href="/css/group.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>

  <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyDf8c_RldjfbjhoyNzxzEYMXt3v8rAVToQ",
      v: "weekly",
      // Add other bootstrap parameters as needed, using camel case.
    });
  </script>

  <script>
    google.maps.importLibrary("maps");
    google.maps.importLibrary("marker");
  </script>

  <body class="p-4">
    <a href="/fyp" class="btn btn-link mb-3">&larr; Back to groups</a>

    <h1 id="groupName" class="fw-semibold"></h1>
    <p id="groupDescription" class="text-muted"></p>

    <hr>

    <div class="container" id="groupContent">
      <div class="menu">
        
        <div class="menu">
          <button class="btn btn-outline-primary" data-section="members">Members</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="settings">Settings</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="chat">Chat</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="map">Map Overview</button>
        </div>

        <div class="menu">
          <button class="btn btn-outline-primary" data-section="polls">Polls</button>
        </div>
      
      </div>
      <div class="content" id="dynamicContent"></div> <!-- content here :D -->
    </div>

    <script>
      window.groupId = "<%= groupId %>";
    </script>
    <script src="/js/group.js"></script>
  </body>
</html>